body {
	background-image:url('../images/overwatchbg.png');
	text-decoration: none;
}
a {
	text-decoration: none;
	color:#000;
	font-size:25px;
}

#triviaGame {
	margin: 0 auto;
	position: relative;
    border:1px solid #dedede;
	 box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
	 -o-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
	 -webkit-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
	 -moz-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
	 border-radius: 2px;
	 position: relative;
	 width: 600px;
	 font-family:  "Myriad", "Myriad Pro", "Helvetica","Segoe UI", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#main-quiz-holder a {
	text-decoration: none;
}

#results-container, #intro-container {
	width: 500px;
	text-align: center;
}

.questionDiv {
    width: 560px;
	 min-height: 400px;
    padding: 20px;
	 overflow: auto;
	 margin: auto;
}

.questionDiv .question, h2.qTitle {
    margin: 10px 0 20px 0;
	 font-size: 26px;
	 font-weight: normal;
}

h2.qTitle {
	font-size: 32px;
	margin-top: 30px;
}

.questionDiv ul.answers {
    margin: 0px;
    padding: 5px;
	 list-style: none;
}

.questionDiv ul.answers li {
	padding: 5px 50px;
	margin: 12px 10px 0px 0px;
	color: #4c4c4c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #0199d9;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  border: 1px solid #a1a1a1;	
}

.questionDiv ul.answers li.selected {
	background: #6fb2e5;
  box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -o-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -webkit-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -moz-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
}

.questionDiv .prev, .questionDiv .next {
	height: 19px; cursor: pointer; padding: 5px 10px;
   font-size: 24px;
   font-weight:bold;
   padding: 5px 10px;
  color: #4c4c4c;
  border-radius: 4px;
  text-decoration: none;
}

.questionDiv .next  {
  text-decoration: none;
}


#progressKeeper {
    width: 553px;
    margin: 0px 12px;
	 box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
	 -o-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
	 -webkit-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
	 -moz-box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
	 border-radius: 2px;
	 border:1px solid #dedede;
	 position: absolute;
	 bottom: 10px;
	 left: 10px;
}

 #progress {
    width: 0;
	 height: 20px;
  color: #4c4c4c;
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#d4d4d4));
  background: -webkit-linear-gradient(#f6f6f6, #d4d4d4);
  background-image: -moz-linear-gradient(top, #f6f6f6, #d4d4d4);
  background-image: -moz-gradient(top, #f6f6f6, #d4d4d4);
 }

#resultKeeper {
    margin: 10px;
	 text-align: center;
	 overflow: auto;
}

#notice {
	position: absolute;
	bottom: 40px;
	right: 20px;
}

.questionDiv .prev { float: left;}
.questionDiv .next, .questionDiv.btnShowResult { float: right; }
.questionDiv .clear { clear: both; }
.hide { display: none; }

.btnPrev {
	padding-left: 24px;
	background: url(../images/back.png) left no-repeat;
}

.btnNext {
	padding-right: 24px;
	background: url(../images/forward.png) right no-repeat;
}

.btnShowResult{
	padding-left: 24px;
	background: url(../images/confirm.png) left no-repeat;
}

.btnStart {
	display: block;
	margin: 40px auto 0 auto;
}

.btnDiv {
	margin: 20px 0 30px 0;
	padding: 5px;
}

.resultRow {
	width: 110px;
	margin: 10px 25px;
	float: left;
}

.correct, .wrong {    
	height: 19px; cursor: pointer; padding: 5px 10px;
   font-size: 16px;
   padding: 5px 15px;
  color: #4c4c4c;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
   
}

.correct {    
  background: #b2d840;
  background: -webkit-gradient(linear, left top, left bottom, from(#b2d840), to(#90b61e));
  background: -webkit-linear-gradient(#b2d840, #90b61e);
  background-image: -moz-linear-gradient(top, #b2d840, #90b61e);
  background-image: -moz-gradient(top, #b2d840, #90b61e);
  border: 1px solid #5d8300;
}

.wrong {
	background: #e84545;
  background: -webkit-gradient(linear, left top, left bottom, from(#e84545), to(#c62323));
  background: -webkit-linear-gradient(#e84545, #c62323);
  background-image: -moz-linear-gradient(top, #e84545, #c62323);
  background-image: -moz-gradient(top, #e84545, #c62323);
  border: 1px solid #930000;
  color: #F1F1F1;
}

.correct span {
	padding: 0 20px;
	background: url(../images/confirm.png) left no-repeat;
}

.wrong span {
	padding: 0 20px;
	background: url(../images/delete.png) left no-repeat;
}

#answer-key {
	text-align: center;
	width: 300px;
	padding: 15px;
	margin: 0 auto;
	 clear: both;
	 font-size: 16px;
}

.question {
	padding-left: 20px;
	line-height: 1.3em;
}